.form-control,
.input-group-text {
  border-radius: 0;
}
.form-actions {
  display: flex;
  gap: 0 5px;
  align-items: baseline;
}
.input-group .form-control {
  margin-top: 0;
}
form .checkbox .form-item {
  margin-bottom: 0;
}
form .form-check {
  margin-bottom: 15px;
}
form[class*='search-block'] {
  display: flex;
}
form[class*='search-form'] .container-inline {
  display: flex;
  align-items: end;
  margin-bottom: 15px;
}
form[class*='search-block'] .form-search {
  min-width: 220px;
}
.header-style-3 form[class*='search-block'] .mb-3,
form[class*='search-form'] .container-inline .mb-3 {
  width: 100%;
  margin-bottom: 0 !important;
}
.field--label-inline {
  display: flex;
  gap: 0 10px;
}
.field--label-inline .field-title {
  font-weight: 500;
}
