.sticky-top {
  z-index: 500;
}
.secondary-nav ul,
.secondary-nav p {
  margin-bottom: 0;
}
.navbar-expand-lg .navbar-nav .nav-item .dropdown-menu {
  font-size: 14px;
  min-width: 220px;
}
.navbar-expand-lg .navbar-nav .nav-item.dropdown-item,
.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0;
}
.navbar-expand-lg .navbar-nav .nav-item span,
.navbar-expand-lg .navbar-nav .nav-item a {
  display: block;
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
}
.navbar-expand-lg .navbar-nav .nav-item > .dropdown-menu {
  top: 100%;
  left: 0;
}
.navbar-expand-lg .navbar-nav .nav-item .dropdown-menu ul {
  top: 0;
  left: 100%;
}
.header-style-2 .navbar-expand-lg .navbar-nav > .nav-item > span,
.header-style-2 .navbar-expand-lg .navbar-nav > .nav-item > a {
  padding: 15px 20px;
  color: var(--bs-light);
}
.header-style-1.navbar-expand-lg .navbar-nav .nav-item .nav-link:hover,
.header-style-1.navbar-expand-lg .navbar-nav .nav-item .nav-link.is-active,
.header-style-1.navbar-expand-lg .navbar-nav .nav-item .nav-link.active {
  color: var(--bs-primary);
}
.header-style-3 .navbar-nav .nav-item span,
.header-style-3 .navbar-nav .nav-item a {
  display: block;
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
}
.header-style-3 .dropdown > .dropdown-menu {
  display: block;
}
@media (min-width: 992px) {
  .secondary-nav .block {
    margin-left: 10px;
  }
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
  .header-style-1.navbar-expand-lg .navbar-nav .nav-item:nth-last-child(-n+3) > .dropdown-menu {
    left: auto;
    right: 0;
  }
  .header-style-1.navbar-expand-lg .navbar-nav .nav-item > .dropdown-menu .dropdown-menu {
    left: 100%;
    right: auto;
  }
  .header-style-1.navbar-expand-lg .navbar-nav .nav-item:nth-last-child(-n+2) > .dropdown-menu .dropdown-menu {
    left: auto;
    right: 100%;
  }
}
@media (max-width: 991px) {
  .dropdown > .dropdown-menu {
    display: block;
  }
  .secondary-nav .block {
    padding: 10px 0;
  }
  .secondary-nav .block:not(:last-child) {
    border-bottom: 1px solid var(--bs-gray-400);
  }
}