{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.featured: Items for the featured content region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

<div class="page">
  {% include '@flexistyle_bootstrap/components/header.html.twig' %}
  {% if page.banner %}
    <div class="flex-banner">
      {% block banner %}
        {{ page.banner }}
      {% endblock %}
    </div>
  {% endif %}
  {% if page.breadcrumb %}
    <div class="flex-breadcrumb bg-body-secondary py-3">
      <div class="{{ container }}">
        {{ page.breadcrumb }}
      </div>
    </div>
  {% endif %}
  {% block main %}
    <main id="main" class="flex-main my-4" role="main">
      {% block highlighted %}
        {% if page.highlighted %}
          <div class="flex-highlighted">
            <div class="{{ container }}">
              {{ page.highlighted }}
            </div>
          </div>
        {% endif %}
      {% endblock %}

      {% if page.help %}
        <div class="flex-help">
          <div class="{{ container }}">
            {{ page.help }}
          </div>
        </div>
      {% endif %}

      {% if page.featured %}
        <div class="flex-featured">
          <div class="{{ container }}">
            {{ page.featured }}
          </div>
        </div>
      {% endif %}
      {% block main_content %}
        <div class="flex-main-container {{ container }}">
          <div class="row">
            {%
              set content_classes = [
                page.sidebar_first and page.sidebar_second ? 'col-lg-6',
                page.sidebar_first and page.sidebar_second is empty ? 'col-lg-9',
                page.sidebar_second and page.sidebar_first is empty ? 'col-lg-9',
                page.sidebar_first is empty and page.sidebar_second is empty ? 'col-lg-12'
              ]
            %}
            {% if page.sidebar_first %}
              <aside class="col-lg-3 flex-sidebar flex-sidebar-first" role="complementary">
                {{ page.sidebar_first }}
              </aside>
            {% endif %}

            {% block content %}
              <div{{content_attributes.addClass(content_classes,'flex-content')}}>
                <a id="main-content" tabindex="-1"></a>
                {# link is in html.html.twig #}
                {{ page.content }}
              </div>
            {% endblock %}

            {% if page.sidebar_second %}
              <aside class="col-lg-3 flex-sidebar flex-sidebar-second" role="complementary">
                {{ page.sidebar_second }}
              </aside>
            {% endif %}
          </div>
        </div>
      {% endblock %}
      {% if page.content_bottom %}
        <div class="flex-content-bottom">
          <div class="{{ container }}">
            {{ page.content_bottom }}
          </div>
        </div>
      {% endif %}
      {% if page.featured_bottom %}
        <div class="flex-featured-bottom">
          <div class="container-fluid">
            {{ page.featured_bottom }}
          </div>
        </div>
      {% endif %}
    </main>
  {% endblock %}
  {% include '@flexistyle_bootstrap/components/footer.html.twig' %}
</div>
