<link rel="apple-touch-icon" sizes="57x57" href="/{{ active_theme_path() }}/images/icons/apple-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="/{{ active_theme_path() }}/images/icons/apple-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/{{ active_theme_path() }}/images/icons/apple-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/{{ active_theme_path() }}/images/icons/apple-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/{{ active_theme_path() }}/images/icons/apple-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/{{ active_theme_path() }}/images/icons/apple-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/{{ active_theme_path() }}/images/icons/apple-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/{{ active_theme_path() }}/images/icons/apple-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/{{ active_theme_path() }}/images/icons/apple-icon-180x180.png" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="theme-color" content="#066db2" />
<meta name="msapplication-TileImage" content="/{{ active_theme_path() }}/images/icons/ms-icon-144x144.png" />
