{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}
{%
  set body_classes = [
    'path--' ~ path_info.args|clean_class,
    custom_classes,
    logged_in ? 'user-logged-in' : 'user-anonymous',
    not root_path ? 'page-frontpage' : 'page-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    not page.sidebar_first and not page.sidebar_second ? 'no-sidebars',
    page.sidebar_first ? 'sidebar-first',
    page.sidebar_second ? 'sidebar-second',
    page.sidebar_first and page.sidebar_second ? 'both-sidebars',
    user.hasPermission('administer')  ? 'admin',
    user.getRoles()|join(' role_'),
    language ? 'lang-' ~ language.getId()|clean_class,
    html_attributes.class ? html_attributes.class|join(' '),
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    {% include '@flexistyle_bootstrap/components/head.html.twig' %}
    <css-placeholder token="{{ placeholder_token }}">
    <style> {{ global_style }} </style>
    <js-placeholder token="{{ placeholder_token }}">
    <link rel="manifest" href="/{{ active_theme_path() }}/manifest.json" />
    <script src="/{{ active_theme_path() }}/sw.js"></script>
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
